/*general styles*/
*body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:root{
    --mainmain:hsl(256, 26%, 20%);
    --primary:hsl(216, 30%, 68%);
    --Very-Dark-Violet:hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --very-light-gray:hsl(0, 0%, 98%);
}

/*mobile*/
.navigation{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--very-light-gray);
    height: 100px;
}
.navigation a{
    padding: 14px 16px;
    display: inline;
    text-decoration: none;
}
.nav{
    display: none;
}
.navigation a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/*desktop*/
/**/
/**/