/*general styles*/
*body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:Karla;
}
:root{
    --mainmain:hsl(256, 26%, 20%);
    --primary:hsl(216, 30%, 68%);
    --Very-Dark-Violet:hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --very-light-gray:hsl(0, 0%, 98%);
}

/*mobile*/
.navigation{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--very-light-gray);
    height: 100px;
}
.navigation a{
    padding: 14px 16px;
    display: inline;
    text-decoration: none;
}
.nav{
    display: none;
}
.navigation a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/*header*/
header{
    background-color: var(--mainmain);
}
.body{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-image:url('bg-pattern-intro-left-desktop.svg');
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    color: #ffffff;
}
.body h1{
    margin-top: 40px;
    font-weight: 700;
    font-family: DM serif display;
    align-self: center;

    
}
.body p{
    line-height: 1.6;
    margin-bottom: 10px;
}
.img-mobo{
width: 100%;
height: auto;
margin-bottom: 0px;
}
.button{
    padding: 10px 20px 10px 20px;
    background-color: var(--mainmain);
    border: 2px solid var(--very-light-gray);
    text-transform: uppercase;
    color: var(--very-light-gray);
    margin-bottom: 40px;
}
/*diff*/
.diff{
    background-color: red;
}
/*desktop*/
/**/
/**/